{% extends 'layout.html' %}

{% block body %}    
    <h1>Register for Testing</h1>
    <form action="/register" method="post">
        <label for="name">Enter Name:</label><br>
        <input name="name" id="name" placeholder="Name" type="text"><br>
        <label for="age">Enter Age:</label><br>
        <input name="age" id="age" placeholder="Age" type="text"><br>
        <label for="state">Select State:</label><br>
        <select name=state id="state">
            <option disabled selected value="">State</option>
            <option value="SC">South Carolina</option>
            <option value="NC">North Carolina</option>
            <option value="GA">Georgia</option>
        </select>
        <input type="submit" value="Register">
    </form>
{% endblock body %}